* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: gray;
}

.flex {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: var(--whiteColor);
  width: 100%;
  z-index: 10;
}

.header-black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 2rem;
  padding: 0 1rem;
}

.header-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 4rem;
  padding: 0 1rem;
}

.icons ul li {
  display: inline;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
}

.navigation ul li {
  display: inline;
  padding: 0.5rem;
}

.header-white a ul li {
  display: inline-block;
  padding-left: 1rem;
}

.header-white-right {
  border-left: 1px solid gray;
  padding-left: 1.5rem;
}

.left-nav a ul li {
  display: inline-block;
  padding-left: 1rem;
}

.right-nav a ul li {
  display: inline-block;
  padding-right: 1rem;
}

.header-yellow {
  background-color: yellow;
  padding-left: 2rem;
  height: 1.5rem;
  align-items: center;
}

.funding-dlocal p {
  font-size: 10px;
  opacity: 0.6;
}

.funding-commerce p {
  margin-top: 5%;
}

.word p {
  color: #aaa;
  font-size: 40%;
  font-family: inherit;
}

.header-yellow a p {
  color: #000;
}

/****  Highlights  ***/

#content-grid {
  display: flex;
  width: 100%;
  padding-top: 8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content-1 {
  display: flex;
  width: 100%;
}

.funding-container-pink img {
  margin: 10px;
  height: 60px;
  width: 60px;
  z-index: 1;
}

.footer-logo1 img {
  float: right;
}

.footer-logo2 img {
  width: 30%;
  padding-top: 0;
  margin-right: 12rem;
}

#content-grid .content-1 img {
  width: 45%;
}

#content-grid .content-1 .first {
  background-image: linear-gradient(rgba(235, 13, 13, 0.877), rgba(85, 5, 5, 0.2)), url(images/google-calendar.jpg);
  padding: 1rem;
  margin-right: 1rem;
}

#content-grid .content-1 .first .tuesday {
  float: right;
  color: #fff;
}

#content-grid .content-1 .first .insights {
  position: relative;
  top: 6rem;
  line-height: 2.8rem;
  color: #fff;
}

#content-grid .content-1 .first .insights2 {
  font-family: inherit;
  font-size: 3rem;
}

#content-grid .content-1 .first .by-cult {
  position: relative;
  top: 9rem;
  color: rgb(104, 100, 100);
}

.funding-commerce p:hover {
  color: #2b2a27;
}

#content-grid .content-1 .first .by-cult p {
  color: rgb(199, 188, 188);
}

#content-grid .content-1 .two-in-one {
  height: 30rem;
}

#content-grid .content-1 .two-in-one .second {
  margin-bottom: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(rgba(240, 10, 10, 0.2), rgb(203, 9, 221)), url(images/boost.png);
  height: 15rem;
}

#content-grid .content-1 .two-in-one .third {
  margin-top: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(rgba(85, 5, 5, 0.2), rgb(7, 13, 97)), url(images/do-math.jpg);
  height: 14.5rem;
  font-family: inherit;
  padding-top: 5.5rem;
}

#content-grid .content-1 .two-in-one .third .insights3 {
  color: #fff;
}

#content-grid .content-1 .two-in-one .third .insights4 {
  color: #fff;
}

#content-grid .content-1 .two-in-one .second p {
  padding-top: 8rem;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

#content-grid .content-1 .two-in-one .third .entire {
  padding-top: 0.5rem;
}

#content-grid .content-1 .two-in-one .third .entire p {
  color: gray;
}

/* section latest-funding */

.latest-funding-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3%;
  padding-right: 3%;
}

.deep-black .copyright .footer-logo1 a .new1 {
  width: 20%;
}

.deep-black .copyright .footer-logo2 a .new2 {
  width: 20%;
  float: left;
}

.latest-funding-header-right a {
  color: #f42;
}

.latest-funding-header h1 a {
  color: #f42;
  font-size: 2rem;
}

.latest-funding-header-right a:hover {
  color: #2b2a27;
}

.latest-funding-header h1 a:hover {
  color: black;
}

.latest-funding-header-right {
  float: right;
}

.latest-funding-container {
  display: -ms-grid;
  display: grid;
  grid-template: 2fr 4fr 5fr 5fr / repeat(4, 25%);
  grid-column-gap: 1rem;
  width: 100%;
  height: 20rem;
  padding-left: 3%;
  padding-right: 5%;
}

.funding-container-pink {
  display: flex;
  background-color: pink;
  height: auto;
  padding-bottom: 10px;
  position: relative;
}

.funding-orange {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 40px;
  background-color: orangered;
}

.funding-dlocal {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 6px;
  z-index: 1;
}

.funding-dlocal h4 {
  color: white;
  font-size: 20px;
}

.funding-dlocal span {
  font-weight: 650;
  margin-top: 20px;
  font-size: 15px;
}

.funding-commerce {
  padding: 7%;
}

.funding-commerce i {
  margin-right: 5%;
  color: black;
}

.funding-p {
  padding: 7%;
  border-top: 1px solid orange;
}

/* footer design */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.silver-black {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #131313;
  padding: 2.5% 0;
}

.icons {
  cursor: pointer;
  color: gray;
  flex-basis: 100%;
}

.icons ul li:hover {
  color: white;
}

.navigation {
  padding-top: 2rem;
}

.navigation ul li a:hover {
  color: white;
}

.deep-black {
  display: inline-block;
  background-color: #000;
  width: 100%;
  height: 6rem;
  padding-left: 15%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

/*****  MOBILE  ******/

@media screen and (max-width: 480px) {
  body {
    background-color: #fff;
  }

  .header-black {
    display: none;
  }

  .navigation ul li {
    font-size: 0.5rem;
  }

  .header-white-left a ul li {
    display: none;
    height: 2rem;
  }

  .header-yellow {
    display: flex;
    width: 100%;
    height: 2.5rem;
    font-size: 0.75rem;
  }

  .header-white {
    height: 2.5rem;
  }

  #content-grid {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .content-1 {
    display: flex;
    flex-direction: column;
  }

  #content-grid .content-1 .first {
    height: 9rem;
    margin-bottom: 0.5rem;
    margin-right: -0.1rem;
  }

  #content-grid .content-1 .two-in-one .second {
    height: 9rem;
  }

  #content-grid .content-1 .first .tuesday {
    display: none;
  }

  #content-grid .content-1 .first .insights {
    position: relative;
    top: 1rem;
    line-height: 1rem;
    color: #fff;
  }

  #content-grid .content-1 .first .insights2 {
    font-family: inherit;
    font-size: 0.7rem;
  }

  #content-grid .content-1 .first .by-cult {
    position: relative;
    top: 1rem;
    color: rgb(104, 100, 100);
    font-size: 00.75rem;
  }

  #content-grid .content-1 .two-in-one .third {
    /* margin-left: 0.8rem; */
    margin-top: 0.5rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(85, 5, 5, 0.2), rgb(7, 13, 97)), url(images/do-math.jpg);
    height: 9.5rem;
    font-family: inherit;
    padding-top: 4rem;
  }

  #content-grid .content-1 .two-in-one .third .insights3 {
    color: #fff;
    font-size: 1rem;
  }

  #content-grid .content-1 .two-in-one .third .insights4 {
    color: #fff;
    font-size: 1rem;
  }

  .funding-commerce p {
    font-size: 0.75rem;
  }

  #content-grid .content-1 .two-in-one .second p {
    padding-top: 4rem;
    font-family: inherit;
    font-size: 0.6rem;
    font-weight: bold;
    color: #fff;
  }

  #content-grid .content-1 .two-in-one .third .entire {
    padding-top: 0.5rem;
    font-size: 0.85rem;
  }

  #content-grid .content-1 .two-in-one .third .entire p {
    color: gray;
  }

  .latest-funding-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -11rem;
  }

  .latest-funding-header h1 a {
    font-size: 1rem;
  }

  .latest-funding-header-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .latest-funding-container {
    display: -ms-grid;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 4fr;
    width: 100%;
    grid-row-gap: 1%;
    height: 20rem;
  }

  .funding-container1 {
    width: 100%;
  }

  .funding-p {
    font-size: 0.75rem;
  }

  .footer-mobile {
    margin-top: 60rem;
    height: 13rem;
  }

  .copyright {
    margin-top: 1.7rem;
  }
}

/********  TABLET  ********/

@media (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: #fff;
    overflow: hidden;
  }

  .header-white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 3rem;
    padding: 0 1rem;
  }

  .header-white-left a ul > li:nth-child(6),
  .header-white-left a ul > li:last-child {
    display: none;
  }

  .header-yellow {
    display: flex;
    background-color: yellow;
    padding-left: 2rem;
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
  }

  #content-grid .content-1 .two-in-one {
    height: 30rem;
    margin-right: -1.5rem;
  }

  #content-grid .content-1 .first .insights {
    position: relative;
    top: 14.5rem;
    line-height: 2rem;
    color: #fff;
  }

  #content-grid .content-1 .first .insights2 {
    font-family: inherit;
    font-size: 2rem;
  }

  #content-grid .content-1 .first .by-cult {
    position: relative;
    top: 15rem;
    color: rgb(104, 100, 100);
  }

  #content-grid .content-1 .two-in-one .second {
    margin-bottom: 0.2rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(240, 10, 10, 0.2), rgb(203, 9, 221)), url(images/boost.png);
    height: 15rem;
  }

  .funding-commerce p {
    font-size: 0.85rem;
  }

  #content-grid .content-1 .two-in-one .second p {
    font-size: 1.2rem;
  }

  #content-grid .content-1 .two-in-one .third {
    margin-top: 0.5rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(85, 5, 5, 0.2), rgb(7, 13, 97)), url(images/do-math.jpg);
    height: 14.5rem;
    font-family: inherit;
    font-size: 0.8rem;
    padding-top: 3.8rem;
  }

  #content-grid .content-1 .two-in-one .third .insights3 {
    color: #fff;
  }

  #content-grid .content-1 .first .tuesday {
    display: none;
  }

  .latest-funding-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .latest-funding-header h1 a {
    font-size: 1.8rem;
  }

  .latest-funding-header-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .latest-funding-container {
    display: -ms-grid;
    display: grid;
    grid-template: 1fr / repeat(3, 33.33%);
    grid-column-gap: 1rem;
    width: 100%;
    height: 20rem;
    padding-left: 3%;
    padding-right: 3%;
  }

  .funding-container4 {
    display: none;
  }

  .funding-p {
    font-size: 0.75rem;
  }

  .footer-mobile {
    margin-top: 0;
  }
}
