* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #fff;
}

a {
  color: gray;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: var(--whiteColor);
  width: 100%;
  z-index: 10;
}
.header-black {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 2rem;
  padding: 0 1rem;
}
.header-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 4rem;
  padding: 0 1rem;
}
.header-yellow {
  background-color: yellow;
  padding-left: 2rem;
  height: 1.5rem;
  align-items: center;
}
.flex {
  display: flex;
}

.header-black {
  display: none;
}

.navigation ul li {
  font-size: 0.5rem;
}

.header-white-left a ul li {
  display: none;
  height: 2rem;
}

.header-yellow {
  display: flex;
  width: 100%;
  height: 2.5rem;
  font-size: 0.75rem;
}

.header-white {
  height: 2.5rem;
}

#content-grid {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: -2.5rem;
}

.content-1 {
  display: flex;
  flex-direction: column;
}

#content-grid .content-1 .first {
  height: 9rem;
  margin-bottom: 0.5rem;
  margin-right: -0.1rem;
}

#content-grid .content-1 .two-in-one .second {
  height: 9rem;
}

#content-grid .content-1 .first .tuesday {
  display: none;
}

#content-grid .content-1 .first .insights {
  position: relative;
  top: 1rem;
  line-height: 1rem;
  color: #fff;
}

#content-grid .content-1 .first .insights2 {
  font-family: inherit;
  font-size: 0.7rem;
}

#content-grid .content-1 .first .by-cult {
  position: relative;
  top: 1rem;
  color: rgb(104, 100, 100);
  font-size: 00.75rem;
}

#content-grid .content-1 .two-in-one .third {
  margin-top: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(rgba(85, 5, 5, 0.2), rgb(7, 13, 97)), url(images/do-math.jpg);
  height: 9.5rem;
  font-family: inherit;
  padding-top: 4rem;
}

#content-grid .content-1 .two-in-one .third .insights3 {
  color: #fff;
  font-size: 1rem;
}

#content-grid .content-1 .two-in-one .third .insights4 {
  color: #fff;
  font-size: 1rem;
}

.funding-commerce p {
  font-size: 0.75rem;
}

#content-grid .content-1 .two-in-one .second p {
  padding-top: 4rem;
  font-family: inherit;
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff;
}

#content-grid .content-1 .two-in-one .third .entire {
  padding-top: 0.5rem;
  font-size: 0.85rem;
}

#content-grid .content-1 .two-in-one .third .entire p {
  color: gray;
}

.latest-funding-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-funding-header h1 a {
  font-size: 1rem;
}

.latest-funding-header-right {
  display: flex;
  flex-direction: column-reverse;
}

.latest-funding-container {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 4fr;
  width: 100%;
  grid-row-gap: 1%;
  height: auto;
}

.funding-container1 {
  width: 100%;
}

.funding-p {
  font-size: 0.75rem;
}

.footer-mobile {
  margin-top: 10rem;
  height: 13rem;
}

.copyright {
  margin-top: 1.7rem;
}
/** latest-news-mobile **/
.latest-news h1 {
  margin-top: 10%;
  margin-bottom: 7%;
}

.latest-deals-header a {
  font-size: 70%;
}

.latest-news h1 a {
  font-size: 1.5rem;
}

.latest-news-grid {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(8, 1fr) / 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  width: 100%;
  height: auto;
}

.latest-news-image-size {
  width: 100%;
}

.latest-news-container-text p {
  font-size: 70%;
}

.latest-news-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.latest-news-container-image {
  width: 80%;
}

.latest-news-container-text-bold {
  font-size: 90%;
}

.latest-news-container-text {
  padding-left: 1rem;
}

/** hard-fork-mobile **/
.hard-fork {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 3%;
  width: 100%;
  height: auto;
  margin-top: 30%;
  margin-bottom: 210%;
}

.a-1 {
  font-size: 0.75rem;
}

/** latest-deals-mobile **/
.latest-deals-container {
  display: -ms-grid;
  display: grid;
  grid-template: repeat(8, 1fr) / 1fr;
  width: 100%;
  height: auto;
  margin-bottom: 30%;
}

.latest-deals-header {
  margin-bottom: 7%;
}

.latest-deals-1 {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.latest-deals-container-image-yellow {
  background-color: #fff;
  display: none;
}

.latest-deals-container-image {
  background-color: #fff;
  width: 40%;
  height: 100%;
}

.latest-deals-container-image-poket {
  width: 40%;
}

.latest-deals-image-size {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.latest-deals-text {
  display: flex;
  align-self: flex-start;
  padding-left: 5%;
}

.latest-deals-text a h4,
span,
cite {
  font-size: 70%;
}

.latest-deals-image-size1 {
  width: 127%;
  padding-right: 30%;
}

@media screen and (min-width: 768px){
  /** latest-news-ipad **/
  .latest-news-grid {
    display: -ms-grid;
    display: grid;
    grid-template: 1fr 1fr 1fr / repeat(3, 33%);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: 100%;
    height: auto;
  }

  /** hard-fork-ipad **/
  .hard-fork {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 2%;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 70%;
  }

  /** latest-deals-ipad **/
  .latest-deals-container {
    display: -ms-grid;
    display: grid;
    grid-template: 1fr 1fr 1fr / repeat(3, 33%);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
  }
  body {
    background-color: #fff;
  }

  .header-white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 3rem;
    padding: 0 1rem;
  }

  .header-white-left a ul > li:nth-child(6),
  .header-white-left a ul > li:last-child {
    display: none;
  }

  .header-yellow {
    display: flex;
    background-color: yellow;
    padding-left: 2rem;
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
  }

  #content-grid .content-1 .two-in-one {
    height: 30rem;
    margin-right: -1.5rem;
  }

  #content-grid .content-1 .first .insights {
    position: relative;
    top: 14.5rem;
    line-height: 2rem;
    color: #fff;
  }

  #content-grid .content-1 .first .insights2 {
    font-family: inherit;
    font-size: 2rem;
  }

  #content-grid .content-1 .first .by-cult {
    position: relative;
    top: 15rem;
    color: rgb(104, 100, 100);
  }

  #content-grid .content-1 .two-in-one .second {
    margin-bottom: 0.2rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(240, 10, 10, 0.2), rgb(203, 9, 221)), url(images/boost.png);
    height: 15rem;
  }

  .funding-commerce p {
    font-size: 0.85rem;
  }

  #content-grid .content-1 .two-in-one .second p {
    font-size: 1.2rem;
  }

  #content-grid .content-1 .two-in-one .third {
    margin-top: 0.5rem;
    padding: 1rem;
    background-image: linear-gradient(rgba(85, 5, 5, 0.2), rgb(7, 13, 97)), url(images/do-math.jpg);
    height: 14.5rem;
    font-family: inherit;
    font-size: 0.8rem;
    padding-top: 3.8rem;
  }

  #content-grid .content-1 .two-in-one .third .insights3 {
    color: #fff;
  }

  #content-grid .content-1 .first .tuesday {
    display: none;
  }

  .latest-funding-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .hard-fork-latest a {
    color: #f42;
    font-weight: bold;
    font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
    font-size: 85%;
  }

  .latest-funding-header h1 a {
    font-size: 1.8rem;
  }

  .latest-funding-header-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .latest-funding-container {
    display: -ms-grid;
    display: grid;
    grid-template: 1fr / repeat(3, 33.33%);
    grid-column-gap: 1rem;
    width: 100%;
    height: 20rem;
    padding-left: 3%;
    padding-right: 3%;
  }

  .funding-container4 {
    display: none;
  }

  .funding-p {
    font-size: 0.75rem;
  }

  .footer-mobile {
    margin-top: 0;
  }
}
@media screen and (min-width:1024px){

}
